@using SBA.BOL.Web.Models
@model ArticlesModel
@Styles.Render("~/Content/newsStyle") @{ ViewBag.Title = "Aktualności"; }

<div class="jumbotron jumbotron-fluid ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h2 class="display-4">
                    <strong>Aktualności</strong>
                </h2>
                <p class="lead">
                    <small>Tutaj znajdziesz wszystkie aktualności zawarte na stronie</small>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model.Articles)
        {
            <div class="well" style="margin-top:15px">
               <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="https://cdn0.iconfinder.com/data/icons/seo-smart-pack/128/grey_new_seo2-32-512.png" width="150" height="90" alt="...">
                </a>
                <div class="media-body" style="text-align:justify">
                    <h4 class="media-heading">@Html.ActionLink(item.Title, MVC.News.Article(item.Id))</h4>
                    <p class="by-author">
                        @item.Description
                    </p>
                </div>
                <ul class="list-inline list-unstyled pull-right">
                    <li>
                        <span>
                            <i class="glyphicon glyphicon-calendar"></i> @item.InsertTime
                        </span>
                    </li>
                    <li>|</li>
                    <li>
                        <a class="btn btn-xs btn-social-icon btn-facebook" href="#" data-toggle="tooltip" title="Share Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="btn btn-xs btn-social-icon btn-twitter" href="#" data-toggle="tooltip" title="Share Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-xs btn-social-icon btn-google" href="#" data-toggle="tooltip" title="Share Google">
                            <i class="fa fa-google"></i>
                        </a>
                    </li>
                </ul>
             </div>
            </div>
        }

            <div class="text-center">
                <ul class="pagination">
                    @for (int i = 0; i <= Model.TotalPages; i++)
                    {
                        int currentPage = i + 1;
                        if (currentPage == Model.Page)
                        {
                            <li class="active">
                                @Html.ActionLink(currentPage.ToString(), MVC.News.Index(currentPage))
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink(currentPage.ToString(), MVC.News.Index(currentPage))
                            </li>
                        }
                    }
                </ul>
            </div>
    </div>
</div>