@using SBA.BOL.Web.Models
@model List<ConfigurationModel>
@Styles.Render("~/Content/aboutStyle") 

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@foreach (var item in Model)
{
    <p>@item.Key - @item.Value - @item.InsertDate</p>
}
<p>Use this area to provide additional information.</p>


<hr style="padding-top:30px;">

Może coś na ten design zrobić z tym zdjęciem poniżej
<div class="containers">
   <div class="background"></div>
   <div class="foreground">sadsd fdsf sdf ds fsdf ds dsf </div>
   <img src="http://www.placehold.it/200x200">
</div>


<div id="how-we-do" class="p-0">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 how-bg-img"></div>
			<div class="col-xs-12 col-sm-12 col-md-6 how-contents">
				<h4 class="section-title mb-2 h1">O naszej firmie</h4>
				<p class="mb-4">Having and managing a correct marketing strategy is crucial in a fast moving market.</p>
				<ul class="list-unstyled">
					<li>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
					<li>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
					<li>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
					<li>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
					<li>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
					<li>Some quick example text to build on the card title and make up the bulk of the card's content.</li>
				</ul>
			</div>
		</div>
	</div>
</div>




<br>

<div class="container">
    <div class="row">

        <!-- item -->
        <div class="col-md-4 text-center">
            <div class="panel panel-danger panel-pricing">
                <div class="panel-heading">
                    <i class="fa fa-desktop"></i>
                    <h3>Plan 1</h3>
                </div>
                <div class="panel-body text-center">
                    <p><strong>$100 / Month</strong></p>
                </div>
                <ul class="list-group text-center">
                    <li class="list-group-item"><i class="fa fa-check"></i> Personal use</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Unlimited projects</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> 27/7 support</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-danger" href="#">BUY NOW!</a>
                </div>
            </div>
        </div>
        <!-- /item -->

        <!-- item -->
        <div class="col-md-4 text-center">
            <div class="panel panel-warning panel-pricing">
                <div class="panel-heading">
                    <i class="fa fa-desktop"></i>
                    <h3>Plan 2</h3>
                </div>
                <div class="panel-body text-center">
                    <p><strong>$200 / Month</strong></p>
                </div>
                <ul class="list-group text-center">
                    <li class="list-group-item"><i class="fa fa-check"></i> Personal use</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Unlimited projects</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> 27/7 support</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-warning" href="#">BUY NOW!</a>
                </div>
            </div>
        </div>
        <!-- /item -->

        <!-- item -->
        <div class="col-md-4 text-center">
            <div class="panel panel-success panel-pricing">
                <div class="panel-heading">
                    <i class="fa fa-desktop"></i>
                    <h3>Plan 3</h3>
                </div>
                <div class="panel-body text-center">
                    <p><strong>$300 / Month</strong></p>
                </div>
                <ul class="list-group text-center">
                    <li class="list-group-item"><i class="fa fa-check"></i> Personal use</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> Unlimited projects</li>
                    <li class="list-group-item"><i class="fa fa-check"></i> 27/7 support</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-success" href="#">BUY NOW!</a>
                </div>
            </div>
        </div>
        <!-- /item -->

    </div>
</div>

<style>
	
</style>