@using SBA.BOL.Web.Models
@model List<ConfigurationModel>

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@foreach (var item in Model)
{
    <p>@item.Key - @item.Value - @item.InsertDate</p>
}
<p>Use this area to provide additional information.</p>
